<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-securestorage-plugins-swift" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SecureStorageSwift</name>
    <js-module name="SecureStorageSwift" src="www/SecureStorageSwift.js">
        <clobbers target="SecureStorageSwift" />
    </js-module>
    <platform name="iOS">
  <config-file target="config.xml" parent="/*">
    <feature name="SecureStorageSwift">
      <param name="ios-package" value="SecureStorageSwift" />
      <param name="onload" value="true" />
    </feature>
  </config-file>
		<!-- iOS Source Files -->
  <source-file src="src/ios/SecureStorageSwift.swift" />
  <header-file src="src/ios/AppDelegate+SecureStorageSwift.h" />
  <source-file src="src/ios/AppDelegate+SecureStorageSwift.m" />
</platform>
</plugin>
