<?xml version='1.0' encoding='utf-8' standalone="yes"?>
<plugin id="com.securestorage.plugins.swift" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SecureStorageSwift</name>
    <description>Outsystems plugin for Secure Storage with SamKeyChain implemented</description>

    <keywords>cordova,ios,toast,message,alert</keywords>  

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module name="SecureStorageSwift" src="www/SecureStorageSwift.js">
        <clobbers target="cordova.plugins.SecureStorageSwift" />
    </js-module>

    <platform name="iOS">
    <config-file target="config.xml" parent="/*">
      <feature name="SecureStorageSwift">
        <param name="ios-package" value="SecureStorageSwift" />
        <param name="onload" value="true" />
      </feature>
      <preference name="UseSwiftLanguageVersion" value="5" />
    </config-file>

    <config-file target="*-Debug.plist" parent="aps-environment">
      <string>development</string>
    </config-file>
    <config-file target="*-Release.plist" parent="aps-environment">
      <string>production</string>
    </config-file>

		<!-- iOS Source Files -->
  <source-file src="src/ios/SecureStorageSwift.swift" />
  <header-file src="src/ios/AppDelegate+SecureStorageSwift.h" />
  <source-file src="src/ios/AppDelegate+SecureStorageSwift.m" />

 <dependency id="cordova-plugin-add-swift-support" url="https://github.com/OutSystems/cordova-plugin-add-swift-support.git#2.0.3-OS1"/>

    <!-- Hooks -->
    <hook type="after_prepare" src="hooks/ios/iOSCopyPreferences.js" />

    <podspec>
        <config>
            <source url="https://cdn.cocoapods.org/"/>
        </config>
        <pods use-frameworks="true">
            <pod name="OSCommonPluginLib" spec="1.0.0" />
        </pods>
    </podspec>
</platform>
</plugin>
