<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-securestorage-plugins-swift" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SecureStorageSwift</name>
    <js-module name="SecureStorageSwift" src="www/SecureStorageSwift.js">
        <clobbers target="cordova.plugins.SecureStorageSwift" />
    </js-module>
</plugin>
